@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import "tailwindcss";

.rubikFont {
    font-family: 'Rubik', sans-serif;
  }
  .notoSans{
    font-family: "Noto Sans", sans-serif;;
  }
  .montSerrat {
    font-family: "Montserrat", sans-serif;
  }
  .sansation {
    font-family: "Sansation", sans-serif;
  }
  .openSans {
    font-family: "Open Sans", sans-serif;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }